
<!-- section -03 start -->
<table class="w-full" bgcolor="#ffffff">
  <tr>
    <td>
      <table
        width="100%"
        border="0"
        cellpadding="0"
        cellspacing="0"
        role="presentation"
        bgcolor="#F0F5F5"
      >
        <tr>
          <td
            align="center"
            style="color: #005555"
            class="font-primary text-2xl pt-5 leading-7"
          >
            <strong> Sint cupidatat occaecat ut</strong>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td style="padding: 20px 20px 40px 20px" bgcolor="#F0F5F5">
      <table
        width="100%"
        border="0"
        cellpadding="0"
        cellspacing="0"
        role="presentation"
      >
        <tr>
          <td class="media_padding mobile_responsive" bgcolor="#ffffff" align="center">
            <table
              width="100%"
              border="0"
              cellpadding="0"
              cellspacing="0"
              role="presentation"
              colspan="0"
            >
              <tr>
                <td align="center" class="pt-5 pb-5">
                  <img src="circle.png" alt="icon" width="100" />
                </td>
              </tr>

              <tr>
                <td
                  align="center"
                  style="color: #005555"
                  class="font-primary pr-5 pl-5 text-xl leading-6"
                >
                  <strong> Nisi ut ade</strong>
                </td>
              </tr>
              <tr>
                <td height="20"></td>
              </tr>
              <tr>
                <td
                  align="center"
                  style="color: #444444"
                  class="font-primary pr-5 pl-5 text-base leading-5"
                >
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam.<sup>1</sup>
                </td>
              </tr>
              <tr>
                <td height="20"></td>
              </tr>
            </table>
          </td>

          <td width="20" class="mobile_responsive extra"></td>

          <td class="media_padding mobile_responsive" bgcolor="#ffffff" align="center">
            <table
              width="100%"
              border="0"
              cellpadding="0"
              cellspacing="0"
              role="presentation"
              colspan="0"
            >
              <tr>
                <td align="center" class="pt-5 pb-5">
                  <img src="circle.png" alt="icon" width="100" />
                </td>
              </tr>

              <tr>
                <td
                  align="center"
                  style="color: #005555"
                  class="font-primary text-xl pr-5 pl-5 leading-6"
                >
                  <strong> Duis aute irure</strong>
                </td>
              </tr>
              <tr>
                <td height="20"></td>
              </tr>
              <tr>
                <td
                  align="center"
                  style="color: #444444"
                  class="font-primary text-base pr-5 pl-5 leading-5"
                >
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam.<sup>2</sup>
                </td>
              </tr>
              <tr>
                <td height="20"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- section -03 end -->

