<!-- section -04 Start -->
<table class="w-full" bgcolor="#ffffff">
  <tr>
    <td height="20"></td>
  </tr>
  <tr>
    <td class="pr-5 pl-5">
      <table
        width="100%"
        border="0"
        cellpadding="0"
        cellspacing="0"
        role="presentation"
      >
        <tr>
          <td
            align="center"
            class="font-primary text-xs text-black"
          >
            Sed do eiusmod tempor incididunt ut labore
          </td>
        </tr>

        <tr>
          <td height="20"></td>
        </tr>
        <tr>
          <td align="center">
            <img src="logo.png" alt="Footer Logo" width="100" />
          </td>
        </tr>
      </table>
    </td>
  </tr>
 </table>

 <!-- section -04 end -->
