<!-- section 2 start -->
<table class="w-full" bgcolor="#ffffff">
  <tr>
    <td>
      <table
        width="100%"
        border="0"
        cellpadding="0"
        cellspacing="0"
        role="presentation"
      >
        <tr>
          <td align="center">
            <img
              src="hero.png"
              width="560"
              height="230"
              alt="Hero Image"
              align="center"
              class="inline-block"
            />
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- section 2 end -->
